.content {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.elements {
  padding: 20px;
  font-size: larger;
  margin: 30px;
  border-radius: 5px;
  font-weight: bolder;
}

@media screen and (max-width: 1190px) {
  .content {
    display: block;
  }

  .elements {
    display: flex;
    justify-content: center;
  }
}
