.content {
    display: flex;
    justify-content: center;
    color: black;
}

.content2 {
    display: flex;
    justify-content: center;
    color: black;
}

.passwordgenerator {
    width: 280px; 
    height: 200px; 
    background-color: rgb(26, 26, 26); 
    margin-top: 100px;
    border-radius: 10px;
}

.passwordgeneratorimage {
    position: absolute;
    border-radius: 4px;
    margin-left: 30px;
    margin-top: 20px;
}

.passwordgeneratorbutton {
    margin-top: 160px;
    margin-left: 30px;
    background-color: #92ffe7;
    padding: 4px;
    border-radius: 4px;
    position: absolute;
}

.passwordgeneratortext {
    position: absolute;
    margin-top: 160px;
    margin-left: 85px;
    background-color: #7bf0ff;
    padding: 4px;
    border-radius: 4px;
}

.portfolio {
    width: 280px; 
    height: 200px; 
    background-color: rgb(26, 26, 26); 
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 10px;
    transition: 0.5s;
}

.portfolioimage {
    position: absolute;
    border-radius: 4px;
    margin-left: 30px;
    margin-top: 20px;
}

.portfoliobutton {
    margin-top: 160px;
    margin-left: 30px;
    background-color: #a7e7d9;
    padding: 4px;
    border-radius: 4px;
    position: absolute;
}

.portfoliotext {
    position: absolute;
    margin-top: 160px;
    margin-left: 85px;
    background-color: #7bf0ff;
    padding: 4px;
    border-radius: 4px;
}

.kotlinapp {
    width: 280px; 
    height: 400px; 
    background-color: rgb(26, 26, 26); 
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 10px;
    transition: 0.5s;
}

.kotlinappimage {
    position: absolute;
    border-radius: 4px;
    margin-left: 50px;
    margin-top: 20px;
    height: 320px;
    width: 170px;
}

.kotlinapptext {
    position: absolute;
    margin-top: 360px;
    margin-left: 100px;
    background-color: #7bf0ff;
    padding: 4px;
    border-radius: 4px; 
}

.bot {
    width: 280px; 
    height: 400px; 
    background-color: rgb(26, 26, 26); 
    margin-top: 100px;
    border-radius: 10px;
    transition: 0.5s;
}

.botimage {
    position: absolute;
    border-radius: 4px;
    margin-left: 40px;
    margin-top: 20px;
    height: 320px;
    width: 200px;
}

.bottext {
    position: absolute;
    margin-top: 360px;
    margin-left: 90px;
    background-color: #7bf0ff;
    padding: 4px;
    border-radius: 4px; 
} 

@media screen and (max-width: 750px) {
   .content {
    display: block;
   }

   .content2 {
    display: block;
   }

   .content div {
    margin-left: 16%;
   }
   
   .content2 div {
    margin-left: 16%;
   }
   
}

@media screen and (max-width: 350px) { 
    .content div {
        margin-left: 20px;
    }
    
    .content2 div {
        margin-left: 20px;
    }
 }