.contentbox {
    background-color: rgb(31, 31, 31);
    margin-top: 140px;
    width: 30%;
    border-radius: 15px;
    height: 200px;
    padding: 10px;
}

.contentflexbox {
    display: flex;
    justify-content: center;
}
