.portfoliotext {
    font-size: 1.4em;
    color: #cccccc;
}

.hello {
    margin-left: 10%;
    margin-top: 100px;
    color: #201e20;
    display: flex;
    justify-self: space-between;
}

.fabiustext {
     margin-bottom: 5px;
     font-size: 2.4em;
}

.intern {
    color: rgb(49, 49, 49);
    font-size: 1.4em;
    margin-top: 40px;
}

.picturecontainer {
    margin-left: 0%;
}

.content {
    width: 80%;
}

@media screen and (max-width: 750px) {
    .picturecontainer {
        display: none;
    }
}