.navelement {
    background-color: #949494;
}

.navbar a {
    margin-right: 50px;
    font-size: 1.2em;
    transition: .4s; 
    padding:  10px;
    border-radius: 4px;
}

.navelement:hover{
   background-color: #c4c4c4;
}

.navbar {
    margin-top: 20px;
    height: 45px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    color: #000000;
}

.menu {
    display: none;
}

.menudiv {
    display: none;
    justify-content: center;
}

.menudiv a{
    display: none;
    position: absolute;
    background-color: #8d8d8d;
    height: 55px;
    width: 80%;
    padding-top: 18px;
    justify-content: center;
    font-size: 1.1em;
    transition: 0.3s;
    margin-right: 10%;
    border-radius: 9px;
    color: #000000;

}

.menudiv a:hover {
    background-color: #818181;
}

.navelement div {
    display: flex;
}

.img {
    height: 20px;
    width: 20px;
    margin-top: 3px;
    margin-right: 5px;
}

.navelement p {
    margin-left: 7px;
}

.homebutton {
    margin-top: 80px;
}

.projectbutton {
    margin-top: 150px;
}

.contactbutton {
    margin-top: 220px;
}

@media screen and (max-width: 750px) {
    .navbar {
        display: none;
    }

    .menudiv {
        display: flex;
        justify-content: right; 
        width: 70px;
        height: 70px; 
        position: fixed;
        top: 10px; 
        z-index: 99;
        border-radius: 10px;
        transition: background-color 0.3s ease, box-shadow 0.3s ease, height 0.3s ease-out, width 0.3s ease-out;
        margin-right: 10px;
        overflow: hidden;
    }

    .menu {
        position: fixed;
        display: flex;
        margin-right: 15px;
        margin-top: 14px;
    }

    .navcenter {
        display: flex;
        justify-content: end;
    }
}
