.navbar a {
    margin-right: 50px;
    font-size: 1.2em;
    transition: .4s; 
    padding:  6px;
    border-radius: 4px;
}

.navbar a:hover{
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    border-radius: 4px;
    padding-bottom: 30px;
}

.navbar {
    margin-top: 20px;
    height: 45px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    color: #000000;
}

.menu {
    display: none;
}

.menudiv {
    display: none;
}

@media screen and (max-width: 750px) {
    .navbar {
        display: none;
    }

    .menudiv {
        display: flex;
        justify-content: right; 
        width: 17%;
        height: 70px;
        background-color: #5e5e5e;
        position: fixed;
        top: 10px; 
        z-index: 99;
        border-radius: 10px;
        transition: background-color 0.3s ease, box-shadow 0.3s ease, height 0.3s ease-out, width 0.3s ease-out;
        margin-right: 10px;
    }

    .menu {
        position: fixed;
        display: flex;
        margin-right: 15px;
        margin-top: 14px;
    }

    .navcenter {
        display: flex;
        justify-content: end;
    }
}
